In [1]:
from group import Group
import pandas as pd
from user import User
from utils import get_top_cooccurrence
from utils import load_data

In [2]:
data = load_data()
users = [User(i, tracks) for i, tracks in enumerate(data)]
tracks = pd.DataFrame(sum([user.tracks for user in users], []))
del tracks['score']

In [3]:
tracks = tracks.drop_duplicates().set_index('id')

In [24]:
group = Group([users[1], users[2], users[3], users[4]])

In [25]:
min_score = 0.8
recommendations = group.make_artist_oriented_reco(min_score)
recommendations

              0                                                  1
0         Booba                                                 {}
1    Le Marquis  {Sade, Stellardrone, Confection, Rihanna, Kris...
2   Craig David                                                 {}
3          Mika                                                 {}
4  Nora En Pure  {Miguel Campbell, Stellardrone, Mozart, Bob Si...

In [26]:
group.make_reco(min_score, "id")

         0                        1
0   596994                       {}
1   463113                       {}
2   951701                       {}
3   256280                       {}
4   252058          {778619, 81495}
5   428957                       {}
6   158238                       {}
7   284579                  {81495}
8   482727                       {}
9   851624                       {}
10  510535                       {}
11  668715                       {}
12  600244                       {}
13  254494                       {}
14  858554          {778619, 81495}
15  402493                       {}
16  237247                       {}
17  961091                       {}
18  719201                       {}
19  184521  {836713, 778619, 81495}
20  745042                  {81495}
21  800931                       {}
22  341845                       {}
23  910689                       {}
24  603366                       {}
25  325607                       {}
26  836713  {184521, 778619, 81495}
27  238446          {778619, 81495}
28  906483                       {}
29  814197                       {}
30  235515                       {}
31   80893                       {}